---
layout: archive
title: "Research Projects & Funding"
permalink: /funding/
author_profile: true
---

<style>
.archive .list__item {
  font-size: 0.9em;
  margin-top: 0.0em;
}
.archive .list__item .archive__item-title {
  font-size: 1.0em;
  margin-bottom: 0.0em;
}
.archive .list__item .archive__item-excerpt {
  font-size: 0.8em;
  margin-top: 0.0em;
}
.archive h1.page__title {
  margin-bottom: 0.5em;
}
</style>

{% include base_path %}


{% for post in site.funding %}
  {% include archive-single.html %}
{% endfor %}

