---
layout: archive
title: "Selected Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Please see <a href="{{site.author.googlescholar}}"><b>my Google Scholar profile</b></a> for a full list of publications.</div>
{% endif %}

<style>
.pub-item { display: flex; flex-direction: row; margin-top: 1rem; margin-bottom: 1rem; border-bottom: 1px solid #eee; padding-bottom: 1rem; }
.pub-image { width: 320px; height: 180px; min-width: 300px; min-height: 150px; max-width: 300px; max-height: 150px; margin-right: 1rem; background: #f2f2f2; overflow: hidden; border-radius: 4px; flex-shrink: 0; }
.pub-details { flex-grow: 1; }
.pub-title { font-size: 0.9rem; font-weight: bold; color: #555; margin-bottom: 0.0rem; }
.pub-venue { font-style: italic; color: #777; font-size: 0.85rem;}
.pub-authors { color: #333; font-size: 0.85rem;}
.pub-year { color: #333; font-size: 0.85rem;}
.pub-tags { margin-top: 1rem; }
.pub-tag { display: inline-block; background-color: #d8e8d8; color: #336633; border-radius: 4px; padding: 2px 6px; margin-right: 0.4rem; font-size: 0.8rem; text-decoration: none; }
.pub-tag { display: inline-block; background-color: #cce6ff; color: #1565c0; border-radius: 4px; padding: 2px 6px; margin-right: 0.4rem; font-size: 0.8rem; text-decoration: none; }
.pub-tag:hover { background-color: #90caf9; color: #0d47a1; }
</style>

<!-- Themes -->
 
<h3>📚 Data-Centric Computer Vision (Dataset Curation, Data Generation, Benchmarking)</h3>

{% include publication_list_Dataset.html %}


<h3>📚 Human-Centric Visual Intelligence (Face, Body, Action, Emotion)</h3>

{% include publication_list_Human.html %}


<h3>📚 Foundation Models, Vision-Language Models and Multi-modality Models (MLLM, VLM)</h3>

{% include publication_list_FM.html %}

<h3>📚 3D Vision and Augmented Reality (3D Reconstruction, 3D Understanding)</h3>

{% include publication_list_3D.html %}