---
layout: archive
title: "Services"
permalink: /services/
author_profile: true
---

<h2>Conference Chair</h2>
<ul>
  <li><strong>Program Chair:</strong> 
    <ul>
      <li>AJCAI – Australasian Joint Conference on Artificial Intelligence 2025</li>
    </ul>
  </li>
  <li><strong>Publication Chair:</strong> 
    <ul>
      <li>ICIG – IEEE International Conference on Image and Graphics 2025</li>
    </ul>
  </li>
  <li><strong>Web4Good Track Chair:</strong> 
    <ul>
      <li>WWW – The Web Conference 2025</li>
    </ul>
  </li>
  <li><strong>Local Chair:</strong> 
    <ul>
      <li>AJCAI – Australasian Joint Conference on Artificial Intelligence 2023</li>
    </ul>
  </li>
  <li><strong>Senior Area Chair:</strong> 
    <ul>
      <li>AAAI – AAAI Conference on Artificial Intelligence</li>
      <li>IJCAI – International Joint Conference on Artificial Intelligence</li>
    </ul>
  </li>
  <li><strong>Area Chair:</strong>
    <ul>
      <li>CVPR – IEEE/CVF Conference on Computer Vision and Pattern Recognition</li>
      <li>ICLR – International Conference on Learning Representations</li>
      <li>NeurIPS – Conference on Neural Information Processing Systems</li>
      <li>ICML – International Conference on Machine Learning</li>
      <li>ACM MM – ACM Multimedia</li>
      <li>WACV – IEEE/CVF Winter Conference on Applications of Computer Vision</li>
      <li>ACCV – Asian Conference on Computer Vision</li>
    </ul>
  </li>
</ul>

<h2>Editorial Board</h2>
<ul>
  <li><strong>Associate Editor:</strong> Neural Networks (NN)</li>
  <li><strong>Associate Editor:</strong> Visual Intelligence (VI)</li>
</ul>

<h2>Journal Reviewer</h2>
<ul>
  <li>IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)</li>
  <li>International Journal of Computer Vision (IJCV)</li>
  <li>IEEE Transactions on Image Processing (TIP)</li>
  <li>ACM Transactions on Graphics (TOG)</li>
  <li>ACM Transactions on Visualisation and Computer Graphics (TVCG)</li>
  <li>Computer Vision and Image Understanding (CVIU)</li>
  <li>Pattern Recognition (PR)</li>
  <li>IEEE Transactions on Neural Networks and Learning Systems (TNNLS)</li>
  <li>IEEE Transactions on Multimedia (TMM)</li>
  <li>ACM Computing Surveys (CSUR)</li>
</ul>

<h2>University Service</h2>
<ul>
  <li><strong>Academic Advisor:</strong> Bachelor of Computer Science Degree at UQ (2023 - 2025)</li>
  <li><strong>Program Coordinator:</strong> Bachelor of Software Engineering at UTS (2021 - 2022)</li>
</ul>

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

