<div class="pub-item">
    <div class="pub-image"><img src="/images/test_gif.webp" alt="Publication thumbnail" style="width: 100%; height: 100%; object-fit: cover; border-radius: 4px;"></div>
    <div class="pub-details">
      <div class="pub-title">Dynamic Derivation and Elimination: Audio Visual Segmentation with Enhanced Audio Semantics</div>
      <div class="pub-info">
        <span class="pub-authors">Chen Liu and
                  Liying Yang and
                  Peike Li and
                  Dadong Wang and
                  Lincheng Li and
                  Xin Yu</span>
        <span class="pub-venue">CVPR,</span>
        <span class="pub-year">2025.</span>
      </div>
      <div class="pub-tags">
        <a class="pub-tag" href="https://openaccess.thecvf.com/content/CVPR2025/html/Liu\_Dynamic\_Derivation\_and\_Elimination\_Audio\_Visual\_Segmentation\_with\_Enhanced\_Audio\_CVPR\_2025\_paper.html" target="_blank">PDF</a>
        <a class="pub-tag" href="https://openaccess.thecvf.com/content/CVPR2025/html/Liu\_Dynamic\_Derivation\_and\_Elimination\_Audio\_Visual\_Segmentation\_with\_Enhanced\_Audio\_CVPR\_2025\_paper.html" target="_blank">Bibtex</a>
      </div>
    </div>
</div>

<div class="pub-item">
    <div class="pub-image"><img src="/images/test_gif.webp" alt="Publication thumbnail" style="width: 100%; height: 100%; object-fit: cover; border-radius: 4px;"></div>
    <div class="pub-details">
      <div class="pub-title">Dynamic Derivation and Elimination</div>
      <div class="pub-info">
        <span class="pub-authors">Chen Liu and
                  Liying Yang and
                  Lincheng Li and
                  Xin Yu</span>
        <span class="pub-venue">CVPR,</span>
        <span class="pub-year">2025.</span>
      </div>
      <div class="pub-tags">
        <a class="pub-tag" href="https://openaccess.thecvf.com/content/CVPR2025/html/Liu\_Dynamic\_Derivation\_and\_Elimination\_Audio\_Visual\_Segmentation\_with\_Enhanced\_Audio\_CVPR\_2025\_paper.html" target="_blank">PDF</a>
        <a class="pub-tag" href="https://openaccess.thecvf.com/content/CVPR2025/html/Liu\_Dynamic\_Derivation\_and\_Elimination\_Audio\_Visual\_Segmentation\_with\_Enhanced\_Audio\_CVPR\_2025\_paper.html" target="_blank">Bibtex</a>
      </div>
    </div>
</div>
